[% META title="Рубрики" %]

<table id="rubrics">
	<tr><th>Рубрика</th><th>Изменить</th><th>Удалить</th></tr>
	[% FOREACH rubric IN rubrics %]	
	<tr>
		
			<td>[% rubric.rubric %]</td>
			<td><a href="[% c.uri_for(c.controller.action_for('edit_rubric'), [rubric.id]) %]">Изменить</a></td>
			<td><a href="[% c.uri_for(c.controller.action_for('delete_rubric'), [rubric.id]) %]">Удалить</a></td>
		
	</tr>
	[% END %]
</table>